<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >


<suite name="Test_Automation" verbose="1" parallel="classes" thread-count="2" >
    <test name="Mortgage_Calculator" >
        <classes>
            <class name="mortgage_calculator.CalculateMortgageRate" />
            <class name="mortgage_calculator.CalculateRealAprRate"/>
        </classes>

    </test>

</suite>
